* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}


body {

    background-color: black;
     }


.H1-principal {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #ffffff;
    margin-left: 600px;
    margin-right: auto;
    margin-top: 55px;
}
.mudar-r {
margin-left: -40px;


}

.mudar-p {

    font-size: 25px;
    color: rgb(247, 105, 23);

}

.sec-eletrica {
    display: flex;
    align-items: center;
    margin-bottom: 72px;
}




.img-eletrica {
    width: 520px;
    margin-top: 60px;

}

.eletrica {
    margin-bottom: 50px;
    color: #ffffff;
    margin-left: 16px;
    margin-bottom: -18px;
    font-size: 100px;


}

.sec-cano {

    display: flex;
    align-items: center;
    margin-bottom: 72px;


}


.cano {

    color: #ffffff;
    margin-left: 16px;
    margin-bottom: -18px;


}


.img-cano {
    width: 522px;
}


.sec-pintor {
    display: flex;
    align-items: center;
    margin-bottom: 72px;


}

.pintor {
    color: #ffffff;
    margin-left: 16px;
    margin-bottom: -18px;
}

.img-pintor {

    width: 522px;

}

.sec-reparos {

    display: flex;
    align-items: center;
    margin-bottom: 72px;

}

.img-reparos {

    width: 522px;

}

.reparos {

    color: #ffffff;
    margin-left: 16px;
    margin-bottom: -18px;

}

.sec-banco {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.banco {

    color: #ffffff;
    margin-left: 16px;
}

.img-banco {

    width: 522px;

}


.caixa-wpp{
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
animation-name: pulsar;
animation-duration: 0.8s;
animation-iteration-count: infinite;
animation-delay: 0.5s;
animation-timing-function: ease-in-out;
animation-direction: alternate;
animation-fill-mode: none;
animation-play-state: running;

}
@keyframes pulsar {
0% {
height: 65px;
width: 65px;

}

100% {
height: 80px;
width: 80px;


}


}

.todos {

    color: rgb(226, 80, 22);
    font-size: 40px;
}
.pp {

font-size: 20px;

}

.sec-civil {

    display: flex;
    align-items: center;
    margin-bottom: 60px;


}


.img-civil {

    width: 522px;

}

.civil {

    color: #ffffff;
    margin-left: 16px;


}

.img-cftv {


    width: 522px;

}


.cftv{


    color: #ffffff;
    margin-left: 16px;

}

.sec-cftv {

    display: flex;
    align-items: center;
    margin-bottom: 60px;


}


.sec-alarme {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    

}

.img-alarme {

    width: 522px;

}
.alarme {

    color: #ffffff;
    margin-left: 16px;

}


@media all and (max-width: 800px) {

    p{
        font-size: 17px;
        width: 234px;
    }
    .mudar-r {

        margin-left: -82px;
        font-size: 42px;

    }
   

    .H1-principal { 
        margin-top: 129px;
        display: grid;
        align-items: center;
        font-size: 16px;
        margin-left: 282px;
}
.mudar-p {

    font-size: 35px;
}


.img-eletrica {
    width: 500px;

}


.img-banco {

    width: 500px;

}


.img-reparos {

    width: 500px;

}


.img-pintor {

    width: 500px;

}


.img-cano {
    width: 500px;
}

.img-alarme {

    width: 500px;

}


.img-cftv {


    width: 500px;

}

.img-civil {

    width: 500px;

}



}


